<!-- Navbar -->

<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img
        class="carbon21-logo"
        src="/images/logo_poli.png"
        alt="Carbon21 Logo"
      />
      USP Cars
    </a>
    <spam>
      Ãrea Administrativa
    </spam>
  <div id="flash" class="flash"><%- include("../partials/flash") %></div>
</nav>
