<!-- Home Page -->

<!DOCTYPE html>
<html lang="en" dir="ltr">

  <%- include("partials/head") %>

  <body id ="top">

    <!-- Intro Section -->

    <section id="intro">

      <!-- Navbar -->

      <%- include("partials/navbar") %>

      <!-- Hero -->

      <div id="hero" class="hero">
        
        <div class="hero-text">
          <h1 class="hero-title">Usp Tokens</h1>
          <h3 class="hero-description" >Somos uma plataforma de tokenização que busca incentivar o ensino em blockchain.</p>
          <a class="documentation" href="#"><button type="button" class="doc-btn btn btn-outline-light btn-md">Docs</button></a>
        </div>
      </div>

    </section>

    <!-- Features section -->

    <section id="features">

      <div class="container-fluid">

        <h1 class="features-header">Funcionalidades</h1>

        <div class="row feature">
          <div class="col-md-6 feature-img-container">
            <img class="feature-image" src="./images/ft.png" alt="" />
          </div>
          <div class="col-md-6 feature-text-container">
            <h2 class="feature-title">Tokens Fungíveis</h2>
            <p class="feature-description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ipsum lacus, fringilla sed sodales id, laoreet at neque. Mauris quis pharetra quam. Nunc convallis ut leo eu aliquam. Phasellus gravida nisl id diam commodo scelerisque. Aenean consectetur tellus ac aliquet sodales. Ut eu venenatis odio, sed dignissim velit. 
            </p>
          </div>
        </div>

        <div class="row feature">
          <div class="col-md-6 order-2 order-md-1 feature-text-container">
            <h2 class="feature-title">Tokens Não Fungíveis</h2>
            <p class="feature-description">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla ipsum lacus, fringilla sed sodales id, laoreet at neque. Mauris quis pharetra quam. Nunc convallis ut leo eu aliquam. Phasellus gravida nisl id diam commodo scelerisque. Aenean consectetur tellus ac aliquet sodales. Ut eu venenatis odio, sed dignissim velit. 
            </p>
          </div>
          <div class="col-md-6 order-1 order-md-2 feature-img-container">
            <img class="feature-image" src="./images/nft.png" alt="" />
          </div>

        </div>

      </div>
    </section>

    <!-- Promoters Section -->

    <section class="" id="promoters">

      <h1 class="promoters-header">Promoters</h1>

      <div id="promoters-carousel" class="carousel carousel-dark slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active container-fluid">
            <img class="promoter-image" src="images/usp.png" alt="dog-profile">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#promoters-carousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#promoters-carousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>

</section>

    <!-- Footer section -->

    <section id="footer">
      <footer id="footer">
        <div class="container-fluid">
          <a href="#"><i class="social-icon fa-brands fa-twitter"></i></a>
          <a href="#"><i class="social-icon fa-brands fa-facebook-f"></i></a>
          <a href="#"><i class="social-icon fa-brands fa-instagram"></i></a>
          <a href="#"><i class="social-icon fa-solid fa-envelope"></i></a>
          <p>© Copyright Usp Tokens</p>
        </div>
      </footer>
    </section>

  </body>
</html>
