body {
  font-family: "Poppins", sans-serif;
}

/* Mint Section */

.image-container {
  background-image: url("../images/hero.webp");
  background-repeat: no-repeat;
  background-size: auto;
  opacity: 0.94;
  min-height: 100vh;
}

.form-container {
  background-color: rgb(209, 208, 208);
  padding-top: 100px;
  padding-left: 5%;
  padding-right: 5%;
}

.mint-header {
  margin: 30px auto 60px auto;
  font-weight: 700;
  display: flex;
  justify-content: center;
}

hr {
  border: 0;
  height: 3px;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 255),
    rgba(255, 255, 255, 0.75),
    rgba(255, 255, 255, 255)
  );
}

.mint-data {
  display: flex;
  margin-top: 30px;
}

i {
  margin: auto 20px auto 0;
}

label {
  margin-left: 40px;
  font-weight: 500;
}

input {
  margin: auto;
  opacity: 0.5;
}

.mint-button {
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

.loading-icon {
  width: 6%;
  display: none;
}

.btn {
  color: #002945 !important;
  background-color: transparent !important;
  border-color: #002945 !important;
}

.btn:hover {
  color: #ffff !important;
  background-color: #002945 !important;
  border-color: #002945 !important;
}

.radio-label {
  margin-left: 0;
}
